<html>
    <head>
        <title>Edit post</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/style.css') }}">    
    </head>
    <body>
        <div>
            <form action="/{{ post.url }}/save" method="post">
                <label for="title">Title</label>
                <input type="text" id='title' name="title" value="{{ post.title }}">
                <textarea name="content">{{ post.content }}</textarea>
                <br>
                <input type="submit" value="Save">
            </form>
            <a href="/{{ post.url }}/delete">Delete</a>
        </div>
    </body>
</html>
