<html>
    <head>
        <title>{{ post.title }}</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/style.css') }}">    
    </head>
    <body>
        <div>
            <p>
                <small><strong><a href="http://localhost:5000" id='back-home'>← Back home</a></strong></small>
            </p>
            <h1> {{ post.title }} </h1>
            <small>Written by me on {{ post.date }}</small>
            {% autoescape false %}
                <p>{{ post.content }}</p>
            {% endautoescape %}
        </div>
    </body>
</html>
