<html>
    <head>
        <title>Write post</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/style.css') }}">    
    </head>
    <body>
        <div>
            <form action="/write" method="post">


                Title:
                <input type="text" name="title" value="">

                Custom URL:
                <input type="text" name="url" value="">

                Content:
                <textarea name="content"></textarea>
                
                <br>
                Is static? <input type="checkbox" name="is_static">
                <input type="submit" value="Save"></form>
        </div>
    </body>
</html>
